<h1>Signup</h1>


<%= form_with model: @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <!-- <%= f.hidden_field(:user_id, value: "1") %> -->
    <!-- <input type="hidden" name="donation[user_id]" value="1"> -->

    <%= f.submit %>
<% end %>