<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.email %>
<%= @user.username %>

<%= link_to 'Delete', user_path(@user), method: "delete" %>

<%= button_to "Delete", user_path(@user), method: 'delete' %>